<!DOCTYPE html>
<style>
.btn-info {
    color: #ffffff;
    background-color: #F57A82;
    border-color: #ED5276;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">

        <div class="container" style="margin: 60px;">
            <img class="mySlide" src="..\Images\1_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\2_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\3_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\4_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\5_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\6_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\7_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\8_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\9_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\10_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\11_.jpg" style="width:100%;">
            <img class="mySlide" src="..\Images\12_.jpg" style="width:100%;">

            <a href="#" class="btn btn-info btn-lg pull-left" onclick="plusDivs(-1)">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#" class="btn btn-info btn-lg pull-right" onclick="plusDivs(1)">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlide");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
 </script>


